<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<configuration>
    <redis_hosts>
        128.2.13.137:7790,128.2.13.138:7790,128.2.13.144:7790
    </redis_hosts>
    <cassandra_hosts>
        128.2.13.137,128.2.13.138,128.2.13.144
    </cassandra_hosts>
    <cassandra_port>7794</cassandra_port>
</configuration>
